@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
	font-family: 'Stardew Valley';
	src: url('/public/fonts/pixel/Stardew Valley.woff') format('woff'),
		 url('/public/fonts/pixel/Stardew Valley.ttf') format('truetype');
}

@font-face {
	font-family: 'Stardew Valley Wood';
	src: url('/public/fonts/wood/Stardew Valley.woff') format('woff'),
		 url('/public/fonts/wood/Stardew Valley.oet') format('eot'),
		 url('/public/fonts/wood/Stardew Valley.svg') format('svg');
}

$background-colour: #fbc571;
$background-colour-darkened: darken($background-colour, 3%);
$text-colour: #56160c;

* {
	font-family: 'Stardew Valley';
	font-size: 1.2rem;
	text-shadow: -2px 3px 0 rgba(0,0,0,0.1);
	color: $text-colour;
}

body, html {
	cursor: url('/images/sprites/cursor/pointer.png'), pointer;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 38px;
}

button, a {
	&:hover {
		cursor: url('/images/sprites/cursor/hover.png'), auto;
	}

	&:active {
		cursor: url('/images/sprites/cursor/active.png'), auto;
	}
}

html, body {
	font-size: 1.2rem;
}
